body{
   color:  #424242;
   font-size: 13px;
}

.footerbg{
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../images/250618-AdmissionAdPostgraduate-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top:10px;
    
}
.footerbg img{
    padding: 5px;
}
.peraColor{
    color:#757575 !important;
}
.copyWrite{
    margin-top:15px !important;
    margin-bottom: 10px !important;
  
}
.copyWrite span {
    border-right: 2px solid black;
    padding-right:4px;
    color: cornflowerblue;
}
.marginTop20{
    margin-top: 20px !important;
}
.headerFix a{
    text-decoration: none;
    padding: 0px 3px;
}
.headerFix{
    border-radius: 0px !important;
   padding-top:5px;
}
.iconFix{
    position: relative;
    top:9px;
    padding:0 5px; 
    color:#dbdbdb;
}
.iconFixfield{
    color:#dbdbdb;
}
.paddingLeft{
    padding-left: 30px;
}
.fontSizeSet p{
     font-size: 12px !important;
}
.mapInput{
    padding: 20px !important;
}

.paddingTop{
    padding-top: 20px !important;
}
.paddingTopButton{
    padding-top: 10px !important;
}
.iconSize{
    font-size: 18px !important;
}